.audio-player {
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 3%;
    right: 3%;
  }
  
  .play-pause-button {
    margin-left: 10px;
    padding: 10px 20px;
    font-size: 16px;
  }