.background {
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: fixed;
    position: -webkit-fixed;
    top: 0;
    z-index: -10;
}